header {
  width: 1200px;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 60px;
  left: 40px;
  z-index: 99;
  
}
.header-petsPage {
  position: static;
  height: 120px;
  width: 1280px;
  padding: 0 40px;
  color: #545454;
}
@media screen and (max-width: 800px) {
  header {
    width: 708px;
    top: 30px;
    left: 30px;
  }
  .header-petsPage {
    height: 120px;
    width: 768px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 375px) {
  header {
    width: 257px;
    top: 30px;
    left: 10px;
  }
}
