.navlink-wrapper, .petsPage-navlinks {
  width: 443px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlink-item {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
  transition: all .2s;
}

.navlink-item:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}
.is-active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.petsPage-navlinks .navlink-item {
  color: #545454;
} 
.petsPage-navlinks .navlink-item:hover {
  color: #292929;
}
@media screen and (max-width: 375px) {
  /* .petsPage-navlinks .navlink-item {
    display: none;
  } */
}