.container {
  width: 990px;
  height: 435px;
  margin: 60px 0 60px 0;
}
.carousel_btn-wrapper {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
  visibility:visible;
  cursor: pointer;
}
.carousel-image {
  height:270px;
  width: 270px;
}
.carousel_btn-wrapper:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}
.left-btn {
  position: absolute;
  top: 0;
  left: -53px;
}
.right-btn {
  position: absolute;
  top: 0;
  right: -53px;
}
.slick-arrow {
  border: 1px solid red;
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .container {
    width: 580px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 270px;
    height: 507px;
    margin: 42px 0 42px 0;
  }
  .left-btn {
    top: 250px;
    left: 65px;
  }
  .right-btn {
    top: 250px;
    right: 65px;
  }
}
