.modal-container {
  position: fixed;
  display: block;
  width: 1280px;
  height: 877px;
  z-index: 100;
  overflow-x: hidden;
  left: 0px;
  top: 0;
  opacity: 0;
  background: rgba(41, 41, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 100;
  transition: all ease-in-out 0.4s;
}
.show-modal {
  pointer-events: auto;
  opacity: 1;
}
.modal-content-wrapper {
  width: 900px;
  height: 500px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #fff;
  display: flex;
  align-items: flex-start;
}
.modal-image {
  width: 500px;
  height: 500px;
}
.modal-content {
  width: 351px;
  height: 362px;
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin: 50px 0 0 29px;
}

.modal-content h3 {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.modal-content h4 {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin: 10px 0 40px 0;
}
.modal-content h5 {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
span {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.modal-content ul li {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.modal-content ul {
  list-style-position: inside;
  list-style: none;
}
li::before {
  content: "•";
  color: #f1cdb3;
  margin-right: 10px;
}

.close-wrapper {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 136px;
  left: 1080px;
  transition: all ease-in-out .3s;
}
.close-wrapper:hover {
  background: #FDDCC4;
  border-color: #FDDCC4;
}

@media screen and (max-width: 800px) {
  .modal-container {
    width: 768px;
    height: 877px;
   
  }
  .modal-content-wrapper {
    width: 630px;
    height: 350px;
  }
  .modal-image {
    width: 350px;
    height: 350px;
  }
  .modal-content {
    width: 260px;
    height: 303px;
    margin: 10px 0 0 11px;
  }
  .modal-content h5 {
    font-size: 13px;
    width: 260px;
    margin-bottom: 20px;
  }
  .modal-content h4 {
    margin: 10px 0 20px 0;
  }
  .modal-content ul li {
    margin-bottom: 5px;
  }
  .close-wrapper {
    top: 211px;
    left: 690px;
  }
}

@media screen and (max-width: 400px) {
  .modal-container {
    width: 320px;
    height: 791px;
   
  }
  .modal-content-wrapper {
    width: 240px;
    height: 341px;
  }
  .modal-image {
    display: none;
  }
  .modal-content {
    width: 220px;
    height: 321px;
    margin: 10px 10px;
  }
  .modal-content h5 {
    width: 220px;
    margin-bottom: 24px;
    text-align: justify;
  }
  .modal-content h3 {
    text-align: center;
  }
  .modal-content h4 {
    text-align: center;
    margin: 10px 0 20px 0;
  }

  .close-wrapper {
    top: 169px;
    left: 258px;
  }
}
