.section-pets {
  height: 877px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  padding-top: 80px;
}

.section-pets .pets-btn {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .3s;
}
.section-pets .pets-btn:hover {
    background: #FDDCC4;
}
.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
    .section-pets {
        width: 768px;
    }
}
@media screen and (max-width: 400px) {
  .section-pets {
      width: 320px;
      height: 791px;
      padding-top: 42px;
  }
  .pets-title {
    display: none;
  }
  .section-pets .mobile {
    display: block;
    width: 300px;
  }
}